form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    border: 2px dotted black;
    border-radius: 3px;
    font-size: 15px;
}

textarea {
    height: 95px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #0bbbbb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button[type="submit"]:hover {
    background-color: rgb(241, 23, 23);
    color: #0bbbbb;
}

